.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  
  font-family: sans-serif !important;
}
* {
  font-size: 14px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
}
.logo{
  margin-right: auto;
}
.logout{
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  align-self: flex-start;
  background: #e74c3c;
  padding: 10px 20px;
  border-radius:10px 0px 10px 0px;
  margin: 10px 0px;
  transition: all 0.5s linear;

}

.logout:hover{
  filter: drop-shadow(2px 2px 3px black);
}
.card {
  width:400px;
  /* height:150px ; */
  text-align: center;
  background-color: rgb(26, 6, 44);
  border-radius: 5px;
  box-shadow: 0 3px 3px silver;
  padding: 25px;
  margin: 10px;
  align-self: center;
}
.scard{
   background-color: rgb(15, 7, 53);
   border-radius: 5px;
   box-shadow: 0 3px 3px silver;
   padding: 25px;
   padding-bottom: 10px;
}

.card input{
  padding: 10px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #2980b9;
  color: #fff;
}
.card input:focus {
outline: none;
}
.card input::placeholder{
  color: #fff;
}
.submit {
  background: #27ae60;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.submit:hover {
  box-shadow: 2px 2px 10px black;
}
.cardlabel{
  font-weight: bold;
  font-size: 1.2em;
  color: #00ff6a;
  padding: 10px;
}
.user_section{
  align-self: stretch;
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}
.user_section::-webkit-scrollbar {
  width:0;
}
.users{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 10px;
  justify-content: center;
}
.label{
  font-weight: bold;
  color:#01e1ff;
  padding: 5px 10px;
  font-size: 1.2em;
  text-transform: capitalize;
}
.value{
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px 10px;
  color: #ffffff;
}
.userhead{
 font-weight: bold;
 font-size: 2em;
 color:rgb(5, 42, 66);
 padding: 10px;
}
.ctrl{
  display: flex;
  justify-content: flex-end;
}
.delete{
  color: #e74c3c;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
.delete:hover{
  background: #e74c3c;
  color: #fff;
  border-radius: 5px;
}
