.container{
    width: 100vw;
    height: 100vh;
}

.box { 
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #071331;
  text-align: center;
  border-radius: 10px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 280px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-family: sans-serif;

}
.box input[type="text"]::placeholder,
.box input[type="password"]::placeholder{
  color: rgba(255, 255, 255, 0.555);
}



.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  /* border: 2px solid #2ecc71; */
  background: #25ac5d;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
      

}
