.container{
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-items: center;
  filter: drop-shadow(5px 5px 10px black);
  justify-content: center;
}

.card {
  background-color: rgb(255, 251, 251);
  width: 400px;
  /* height: 400px; */
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0;
  border: 0;
  border-bottom: 1px #b5b5b5 solid;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Varela Round';
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Varela Round';
}

.input_group {
  width: 70%;
  margin: 10px 0;
}

.title {
  font-size: 40px;
  font-family: 'Lobster';
  color: #1fd086;
  margin-bottom: 20px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a.submit {
  margin: 0 auto;
  border-radius: 25px;
  border: 0;
  background-color: #1fd086;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  margin-top: 60px;
  cursor: pointer;
}
.row{
    display: flex;
}

.gender{
    align-items: flex-start;
    display: flex;
    width: 70%;
    margin: 10px 0;
}

input[type="radio"]{
    width:30px;
}
.row label{
    color: #2980b9;
    font-weight: bold;
}